* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: Lato ,Helvetica, sans-serif;
    background: linear-gradient(#4567FF, #263EAD);
    
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    color: #ccc;
    background: #23313D;
    padding: 15px;
    font-size: 1.4em;
}

img {
    float: left;
    width: 40px;
    height: 40px;
    
  }
  
.header h3 {
    position: relative;
    top: 18px;
    left: 10px;
}

p {
    font-size: 1.3em;
    margin-bottom: 15px;
}

#page-wrap {
    width: 660px;
    background: white;
    padding: 50px 60px 30px 100px;
    margin: 30px auto;
    min-height: 500px;
    height: auto !important;
    height: 500px;
}

#contact-area {
    width: 600px;
    margin-top: 25px;
}

#contact-area input, #contact-area textarea {
    padding: 10px;
    width: 471px;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 20px 0px 10px 0px;
    border: 2px solid #ccc;
}

#contact-area textarea {
    height: 200px;
}

#contact-area textarea:focus, #contact-area input:focus {
    border: 2px solid #900;
}

#contact-area input.submit-button {
    width: 200px;
    float: right;
    background-color: #4567FF;
    color: white;
}

label {
    float: left;
    text-align: left;
    margin-right: 15px;
    width: 100px;
    padding-top: 5px;
    font-size: 1.5em;
}

.success {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
    background-size:31px 31px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px; font-weight: 600;
}

.warning {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #ffffff;
    background-color: #F77575;
    background-image:url('../images/error.png');
    background-size:31px 31px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px; font-weight: 600;
}

